[run]
include=src/tribonacci.py,
        src/calc_forbes.py,
        src/disemvowel.py,
        src/find_divisors.py,
        src/friend_foe.py,
        src/grasshopper.py,
        src/hq9.py,
        src/jaden_case.py,
        src/mult_3_5.py,
        src/multiply.py,
        src/proper_parenthetics.py,
        src/smallest_int.py,
        src/sort_cards.py,
        src/string_pyramid.py,
        src/sum_terms.py,
        src/rotate_matrix.py,
