[run]
include=tribonacci.py,
        calc_forbes.py,
        disemvowel.py,
        find_divisors.py,
        friend_foe.py,
        grasshopper.py,
        hq9.py,
        jaden_case.py,
        mult_3_5.py,
        multiply.py,
        proper_parenthetics.py,
        smallest_int.py,
        sort_cards.py,
        string_pyramid.py,
        sum_terms.py,
        rotate_matrix.py,
